body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-left: 20%;
  padding-right: 20%;
}

/* .dob {
  flex: 0.5
}

.pronouns {
  flex: 0.8
}

.height-info {
  flex: 2
}

.weight-info {
  flex: 0.5
} */